/* ------------------- index.html -------------------*/
body{
    background-image: url("vuelos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.inicio{
    margin-top: 5%;;
    margin-left: 17%;
}
#iniciosesion{
    margin-left: 17%;
    font-style: italic;
}

.botonEnviar{
    margin-left: 8%;
}
.correcion{
    margin-left: 300px;
}

/* ------------------- admin.html -------------------*/

.inicioAdmin{
    margin-left: 17%;
}
#tituloGenerador{
    margin-left: 17%;
    font-style: italic;
}

.botonGenerarVuelo{
  margin-left: 17%;
}
.botonGenerarEstadistica{
    margin-left: 17%;
}

/* ------------------- cliente.html -------------------*/

.espacioColumnas{
    position: relative;
    left: 300px;
}

.espacioColumnas1{
    position: relative;
    left: 100px;
}

.espacioColumnas2{
    position: relative;
    left: 200px;
}

.espacioColumnas3{
    position: relative;
    left: 300px;
}

.espacioColumnas4{
    position: relative;
    left: 400px;
}

.espacioColumnas5{
    position: relative;
    left: 500px;
}

.botonPagar{
    position: relative;
    left: 725px;
}
.calcularPrecio{
    margin-top: 6%;
    margin-left: 30%;
}